global:
  containerRegistry: ghcr.io/airyhq
  busyboxImage: ghcr.io/airyhq/infrastructure/busybox:latest
  host:
  apiHost:
  ingress:
    letsencrypt: false
security:
  systemToken: ""
  allowedOrigins: ""
config:
  kafka:
    brokers: "kafka-headless:9092"
    zookeepers: "zookeeper:2181"
    authJaas: ""
    minimumReplicas: 1
    schemaRegistryUrl: "http://schema-registry:8081"
    commitInterval: 1000
provisioning:
  kafka:
    image: ghcr.io/airyhq/infrastructure/kafka
    imageTag: 3.2.0
    namespaceTopics: false
tools:
  segment:
    enabled: true
serviceAccount: airy-admin
limitRange: false
components:
  api:
    admin:
      name: api-admin
      image: api/admin
      mandatory: true
      enabled: true
      resources: {}
    communication:
      name: api-communication
      mandatory: true
      enabled: true
      image: api/communication
      resources: {}
    websocket:
      name: api-websocket
      mandatory: true
      enabled: true
      image: api/websocket
      resources: {}
  frontend:
    control_center:
      name: frontend-control-center
      mandatory: true
      enabled: true
      image: frontend/control-center
      resources: {}
    inbox:
      name: frontend-inbox
      mandatory: true
      enabled: true
      image: frontend/inbox
      resources: {}
