global:
  appImageTag: release
  containerRegistry: ghcr.io/airyhq

## ------------------------------------------------------
## Zookeeper
## ------------------------------------------------------
zookeeper:
  enabled: true
  servers: 1
  image: confluentinc/cp-zookeeper
  imageTag: 5.5.0
  heapOptions: "-Xms512M -Xmx512M"
  persistence:
    enabled: true
    dataDirSize: 10Gi
    dataLogDirSize: 10Gi
  resources: {}
            
## ------------------------------------------------------
## Kafka
## ------------------------------------------------------
kafka:
  enabled: true
  brokers: 1
  image: confluentinc/cp-kafka
  imageTag: 5.5.0
  heapOptions: "-Xms512M -Xmx512M"
  persistence:
    enabled: true
    # storageClass: ""
    size: 5Gi
    disksPerBroker: 1
  resources: {}
            
## ------------------------------------------------------
## Schema Registry
## ------------------------------------------------------
schema-registry:
  fullname: kafka-schema-registry
  enabled: true
  image: confluentinc/cp-schema-registry
  imageTag: 5.5.0
  heapOptions: "-Xms512M -Xmx512M"
  resources: {}
            
## ------------------------------------------------------
## Postgres
## ------------------------------------------------------
postgres:
  enabled: true
  image: postgres
  imageTag: 12.4
  resources: {}

## ------------------------------------------------------
## Redis
## ------------------------------------------------------   
redis:
  enabled: true
  image: redis
  imageTag: 5.0.1-alpine
  resources: {}
