@import '../../../assets/scss/fonts';
@import '../../../assets/scss/colors';

.flexWrap {
  display: flex;
  flex-grow: 1;
}

.channelCard {
  display: flex;
  box-sizing: border-box;
  height: 100px;
  width: 300px;
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  background-color: #FFFFFF;
  margin-top: 22px;
}

.channelLogo {
  display: inline-flex;
  height: 40px;
  width: 40px;
  margin:16px 8px 42px 16px;
  svg{
    width:30px;
    height:30px;
  }
}

.channelTitle{
  display: inline-flex;
  height: 24px;
  width: 190px;
  color: #212428;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin:16px 20px 2px 2px;
}

// .channelTitleAndText {
//   margin: 0px auto 0px 21px;
//   padding: 15px 0px 15px 0px;
// }

.channelText {
  display: inline-flex;
  height: 48px;
  width: 190px;
  color: var(--color-text-gray);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  
}

.channelButton {
  display: flex;
  padding-top: 8px;
  width:40px;
  height:40px;
  margin:20px 0px 8px 0px;
}

.addChannelButton {
  position: relative;
  background: white;
  width: 40px;
  height: 40px;
  margin-left: 7px;
  margin-top: 32px;
  transition: 0.2s ease-in-out all;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  
}

.channelButtonIcon {
  @include font-m;
  margin-right: 16px;
  
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-gray);
  cursor: pointer;
 
  padding:0px;

  svg {
    margin: 0;
    path {
      fill: var(--color-text-gray);
    }
  }
  &:hover {
    color: var(--color-airy-blue);
    background-color: var(--color-background-blue);
    box-shadow: 0px 0px 0px 3px var(--color-background-blue);
  }
}


