@import '../../../assets/scss/fonts';
@import '../../../assets/scss/colors';



.connectedContainer {
  display: flex;
  flex-direction: column;
  height: 120px;
  min-width: 500px;
  margin-bottom:10px;
  // border: 1px solid var(--color-light-gray);
  // border-radius: 8px;

}

.connectedSum {
  // display:inline-flex;
  margin-left:16px;
  color: var(--color-text-gray);
}



.connectedChannelFlex{
  display:flex;
  //flex-direction: column;
  //align-items: center;
  //flex-wrap: wrap;
  //flex-basis: 100%;
  box-sizing: border-box;
  height: 100px;
  min-width: 450px;
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  background-color: #FFFFFF;
  margin-left:12px;
  
}

.connectedChannel {
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  min-width:398px;
  height:94px;
}


.extraChannelButton{

}


.extraChannel {
  display:flex;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  background: white;
  color: var(--color-airy-blue);
  text-decoration: underline;
  margin-top: 40px;
  width:88px;
  height:20px;
}


.connectedChannelData {
  display: flex;
  //margin-left:6px;
  align-items: flex-start;
  margin-top:6px;
  
}

.channelListEntry {
   display: inline-flex;
  
}

.placeholderLogo {
  display: inline-flex;
  height: 20px;
  width: 20px;
  margin:16px 8px 0px 6px;
  svg {
   
  height: 18px;
  width: 18px;
  
    
  }
}

.facebookImage{
  display: inline-flex;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 16px 12px 0px 8px;
 }


.connectedChannelName {
  padding-top: 10px;
  padding-left: 6px;
  width:168px;
  height:24px;
}






.channelId {
  padding-top: 10px;
}

.channelButton {
  display: flex;
  padding-top: 8px;
  width:40px;
  height:40px;
  margin:20px 0px 8px 0px;
}

.addChannelButton {
  position: relative;
  background: white;
  width: 40px;
  height: 40px;
  margin-left: 7px;
  margin-top: 32px;
  transition: 0.2s ease-in-out all;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  
}

.channelButtonIcon {
  @include font-m;
  margin-right: 16px;
  margin-bottom: 24px;
  
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-gray);
  cursor: pointer;
 
  padding:0px;

  svg {
    margin: 0;
    path {
      fill: var(--color-text-gray);
    }
  }
  &:hover {
    color: var(--color-airy-blue);
    background-color: var(--color-background-blue);
    box-shadow: 0px 0px 0px 3px var(--color-background-blue);
  }
}
