@import '../../../assets/scss/fonts';
@import '../../../assets/scss/colors';

.connectedContainer {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 450px;
  margin-bottom:10px;
}

.connectedSum {
  margin-left:10px;
  color: var(--color-text-gray);
 
}

.connectedChannel {
  display: flex;
  box-sizing: border-box;
  height: 100px;
  width: 500px;
  border: 1px solid #CAD5DB;
  border-radius: 8px;
  background-color: #FFFFFF;
  margin-left:10px;
  margin-bottom:10px;
}



.connectedChannelData {
  display: flex;
  align-items: flex-start;
}

.placeholderLogo {
  background: white;
  padding-top:12px;
  margin: 0px 0px 15px 18px;
  svg {
   
  height: 16px;
  width: 16px;
  
    
  }
}

.facebookImage{
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 16px 0px 0px 16px;
 }

.extraChannel {
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  background: white;
  padding: 1px 0px 23px 5px;
  color: var(--color-airy-blue);
  text-decoration: underline;
}

.channelListEntry {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}



.connectedChannelName {
  padding-top: 10px;
  padding-left: 6px;
}

.facebookName {
  padding-top: 1px;
  padding-left: 16px;
}


.channelId {
  padding-top: 10px;
  padding-left: 30px;
}

.channelButton {
  display: block;
  padding-top: 25px;
}

.addChannelButton {
  position: relative;
  background: white;
  width: 40px;
  height: 70px;
  margin-left: 5px;
  margin-top: 15px;
  transition: 0.2s ease-in-out all;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.channelButtonIcon {
  @include font-m;
  margin-left: 60px;
  
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-gray);
  cursor: pointer;
 
  padding:2px;

  svg {
    margin: 0;
    path {
      fill: var(--color-text-gray);
    }
  }
  &:hover {
    color: var(--color-airy-blue);
    background-color: var(--color-background-blue);
    box-shadow: 0px 0px 0px 3px var(--color-background-blue);
  }
}
