@import '../../../assets/scss/fonts';
@import '../../../assets/scss/colors';

.connectedContainer {
  display: flex;
  flex-direction: column;
  min-width: 514px;
  height: 120px;
  margin-bottom: 10px;
}

.connectedSum {
  margin-left: 16px;
  color: var(--color-text-gray);
}

.connectedChannelBox {
  display: flex;
  box-sizing: border-box;
  min-height: 100px;
  min-width: 450px;
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  background-color: #ffffff;
  margin-left: 12px;
}

.connectedChannel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 398px;
  min-height: 94px;
}

.extraChannel {
  display: flex;
  min-width: 88px;
  min-height: 20px;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  background: white;
  color: var(--color-airy-blue);
  text-decoration: underline;
  margin: 2px -1px 0px 0px;
}

.connectedChannelData {
  display: flex;
  align-items: flex-start;
  margin: 6px 0px 0px 6px;
}

.channelListEntry {
  display: inline-flex;
}

.placeholderLogo {
  display: inline-flex;
  height: 20px;
  width: 20px;
  margin: 14px 2px 0px 6px;
  svg {
    height: 18px;
    width: 18px;
  }
}

.facebookImage {
  display: inline-flex;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 14px 6px 0px 8px;
}

.connectedChannelName {
  min-width: 168px;
  height: 24px;
  margin-right: 7px;
  padding-top: 10px;
}

.channelId {
  padding-top: 10px;
}

.channelButton {
  display: flex;
  width: 40px;
  height: 40px;
  padding-top: 8px;
  margin: 20px 0px 8px 0px;
}

.addChannelButton {
  position: relative;
  width: 40px;
  height: 40px;
  background: white;
  margin: 32px 0px 0px 7px;
  padding: 0;
  transition: 0.2s ease-in-out all;
  border: none;
  outline: none;
  cursor: pointer;
}

.channelButtonIcon {
  @include font-m;
  margin: 0px 16px 24px 0px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-gray);
  cursor: pointer;
  padding: 0;

  svg {
    margin: 0;
    path {
      fill: var(--color-text-gray);
    }
  }
  &:hover {
    color: var(--color-airy-blue);
    background-color: var(--color-background-blue);
    box-shadow: 0px 0px 0px 3px var(--color-background-blue);
  }
}
