@import '../../../assets/scss/fonts';
@import '../../../assets/scss/colors';

.flexWrap {
  display: flex;
  flex-grow: 1;
}

.airyChannel {
  display: inline-flex;
  border: solid 1px var(--color-light-gray);
  border-radius: 8px;
  flex-basis: 100%;
  min-width: 35vh;
  max-height: 13vh;
  padding: 1%;
  margin: 25px 0px 10px 0px;
}

.airyLogo {
  height: 60px;
  border: none;
  width: 40px;
  background: white;
  border-radius: 50%;
  padding: 15px 0px 15px 12px;
}

.airyTitleAndText {
  margin: 0px auto 0px 21px;
  padding: 15px 0px 15px 0px;
}

.airyText {
  color: var(--color-text-gray);
}

.channelButton {
  display: block;
  padding-top: 25px;
}

.addChannelButton {
  position: relative;
  background: white;
  width: 40px;
  height: 70px;
  margin-left: 5px;
  margin-top: 15px;
  transition: 0.2s ease-in-out all;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.channelButtonIcon {
  height: 40px;
  border: none;
  width: 40px;
  @include font-s;
  font-weight: 400;
  color: #000;
  padding-top: 5px;
}

.channelButtonIcon:hover {
  background: var(--color-airy-blue);
}

.airyConnectedContainer {
  display: flex;
  flex-direction: column;
  min-width: 65vh;
  max-height: 21vh;
}

.airyConnectedChannel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: solid 1px var(--color-light-gray);
  border-radius: 8px;
  flex-basis: 100%;
  max-width: 65vh;
  max-height: 18vh;
  margin-left: 15px;
  margin-bottom: 16px;
}

.airyConnectedSum {
  color: var(--color-text-gray);
  margin-left: 3em;
}

.connectedChannelData {
  display: flex;
  align-items: flex-start;
}

.placeholderLogo {
  height: 23px;
  width: 20px;
  border: solid 1px var(--color-text-gray);

  background: white;
  border-radius: 50%;
  padding: 0px 15px 18px 0px;
  margin: 15px 0px 15px 16px;
}

.extraChannel {
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  background: white;
  padding: 1px 0px 23px 14px;
  color: var(--color-airy-blue);
  text-decoration: underline;
}

.channelListEntry {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.channelName {
  padding-top: 16px;
  padding-left: 16px;
}
