.headerError {
  width: 350px;
  max-width: 90%;
}

.errorContainer {
  display: flex;
  box-sizing: border-box;
  background: var(--color-error-background);
  border: 1px solid var(--color-red-alert);
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  svg {
    fill: var(--color-red-alert);
    padding-right: 10px;
    padding-left: 4px;
  }
  p {
    margin: 0;
  }
}

.errorImage {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}
