{{- if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: akhq
  namespace: {{ .Values.namespace }}
  annotations:
    "helm.sh/hook-weight": "4"
  labels:
    app: akhq
    type: enterprise
spec:
  replicas: 1
  selector:
    matchLabels:
      app: akhq
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: akhq
        WorkerType: "{{ default "NodeGroup" .Values.workerType }}"
    spec:
      containers:
        - name: app
          image: tchiotludo/akhq:0.16.0
          imagePullPolicy: Always
          volumeMounts:
          - name: akhq-config
            mountPath: /app/application.yml
            subPath: application.yml
          env:
            - name: SERVICE_NAME
              value: akhq
      volumes:
        - name: akhq-config
          configMap:
            name: akhq-config
  {{ end }}
