@import 'assets/scss/colors.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 88px);
  border-radius: 10px;
  align-items: stretch;
  margin: 88px 1.5em 0 16px;
  overflow-x: hidden;
}

.leftPanel {
  background: var(--color-background-gray);
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 320px;
  overflow: hidden;
  margin: 0 8px 0 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
