@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';
@import 'assets/scss/animations.scss';

.container {
  display: flex;
  align-items: center;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    color: var(--color-text-gray);

    &:hover {
      cursor: pointer;
      color: var(--color-airy-blue);
    }
  }

  .filterIcon {
    margin-left: 16px;
  }

  .filterIconSelected {
    transition: background 0.5s ease;
    color: var(--color-background-white);
    background: var(--color-airy-logo-blue);
    border-radius: 24px;
  }
}

.searchField {
  width: 300px;
  background: var(--color-background-white);
  border: 1px solid var(--color-airy-blue);
  border-radius: 4px;
  height: 32px;

  svg {
    color: black;
  }
}

.filterModal {
  position: absolute;
  top: 170px;
  right: 54px;
}

.filterModalAnimIn {
  animation: animateFilterModalIn 500ms ease;
}
.filterModalAnimOut {
  animation: animateFilterModalOut 500ms forwards;
}

.animateIn {
  animation: searchfieldAnimIn 300ms ease;
}

.animateOut {
  animation: searchfieldAnimOut 300ms forwards;
}
