@import 'assets/scss/fonts';

.loginWrapper {
  display: flex;
  justify-content: safe center;
  min-height: 100vh;
  width: 100vw;
  flex-grow: 1;
  flex-direction: column;
  background: #fff;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  header {
    display: block;
    padding: 16px 0 0 0;
  }

  h1 {
    @include font-xl;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 32px;
    color: #000;
  }

  a {
    font-weight: 700;
  }

  p {
    color: #000;
  }
}

.inputFields {
  margin-bottom: 40px;
}

.formWrapper {
  width: 340px;
  align-self: center;
}

.loginForm {
  align-self: center;
  text-align: left;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-light-gray);
  margin-bottom: 16px;

  input {
    box-sizing: border-box;
  }

  p {
    text-align: center;
    color: var(--color-text-gray);
    margin-bottom: 1em;
    color: #000;
  }
}

.createAccountHint {
  margin: 16px 0 32px;
}

.passwordLabel {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.passwordLabelText {
  flex-grow: 1;
}

.footer {
  @include font-s;
  margin-bottom: 1em;
  text-align: center;
  padding-bottom: 16px;
}

.errorImage {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}
