@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';
@import 'assets/scss/z-index.scss';

.infoCard {
  width: 340px;
  height: 248px;
  margin-bottom: 28px;
  margin-right: 36px;
  padding: 12px 0 12px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--color-dark-elements-gray);
  border-radius: 10px;
  background-color: var(--color-background-blue);
  p {
    @include font-xs;
    margin: 10px 0 0 0;
    color: var(--color-text-gray);
    max-width: 95%;
  }

  button {
    margin-top: 14px;
  }

  &:hover {
    border: 2px solid var(--color-airy-blue);
    cursor: pointer;
    margin-left: -1px;
    width: 261px;
  }
}

.installed {
  height: 98px;
}

.notInstalled {
  height: 118px;
}

.channelLogoInstagram {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  svg {
    width: 35px;
    height: 35px;
  }
}

.textDetails {
  margin-left: 10px;
  h1 {
    @include font-s;
    color: var(--color-text-contrast);
    font-weight: 600;
    letter-spacing: 0;
  }
}

.channelLogoTitleContainer {
  display: flex;
  align-items: center;
  border-radius: 10px;

  .channelLogo {
    display: flex;
    align-items: center;
    svg {
      width: 34px;
      max-height: 30px;
      fill: var(--color-text-contrast);
    }
  }
}

.isExpandedCard {
  height: 100px;
  width: 260px;
  &:hover {
    border: 2px solid var(--color-airy-blue);
    margin-left: -1px;
    width: 261px;
  }
}

.isExpandedContainer {
  height: 100px;
  width: 260px;
  padding: 6px 0 0 0;
  flex-direction: column;
  align-items: start;
  &:hover {
    width: 261px;
  }
}

.isExpandedLogo {
  min-width: 40px;
  max-width: 100%;
  margin: 0 18px;
}

.isExpandedDetails {
  width: 100%;
  margin-left: 18px;
  h1 {
    @include font-base;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.enableModalContainerWrapper {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enableModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include font-l;

  p {
    max-width: 70%;
    text-align: center;
    margin: 4px 0 20px 0;
    color: var(--color-text-contrast);
  }
}

.enableModalContainer button {
  margin-top: 14px;
  padding: 0 60px;
}

.headerModal {
  @include font-xl;
}
