@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';
@import 'assets/scss/z-index.scss';

.infoCard {
  width: 340px;
  height:248px;
  margin-bottom: 28px;
  margin-right: 36px;
  padding: 0px 0 12px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-blue);
  border-radius: 10px;
  border: 1px solid var(--color-dark-elements-gray);
  outline: 2px solid transparent; 
  @include font-s;
  transition: all 0.1s;

  button {
    margin-top: 14px;
  }

  &:hover {
    outline: 2px solid var(--color-airy-blue);
    border: 1px solid transparent;
    cursor:pointer;

  }
}

.textDetails {
  p {
    @include font-s;
    margin: 10px 0 0 0;
    color: var(--color-text-gray);
  }

  span {
    font-weight:bold;
  }
}

.installed {
  height: 98px;
}

.notInstalled {
  height: 118px;
}

.channelLogoInstagram {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  svg {
    width: 35px;
    height: 35px;
  }
}

.textDetails {
  margin-left: 10px;
  h1 {
    @include font-s;
    color: var(--color-text-contrast);
    font-weight: 600;
    letter-spacing: 0;
  }
}

.availability {
  display: flex;
  align-items: center;
  font-weight:800;
  color: var(--color-airy-blue);
  @include font-s-bold;
  margin-top:20Px;



  .availabilityCheckmarkIcon {
    fill: var(--color-airy-blue);
  }

  div {
    width: 20px;
    margin-right: 5px;
    display: flex;
    align-items: center;
  }
}

.channelLogoTitleContainer {
  display: flex;
  align-items: flex-start;
  height: 50%;
  border-bottom: 1px solid var(--color-light-gray);
  margin-top:20px;

  .channelLogo {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 106px;
    svg {
      height:55px;
      fill: var(--color-text-contrast);
    }
  }
}

.isExpandedCard {
  height: 100px;
  width: 260px;
  &:hover {
    border: 2px solid var(--color-airy-blue);
    margin-left: -1px;
    width: 261px;
  }
}

.isExpandedContainer {
  height: 100px;
  width: 260px;
  padding: 6px 0 0 0;
  flex-direction: column;
  align-items: start;
  &:hover {
    width: 261px;
  }
}

.isExpandedLogo {
  min-width: 40px;
  max-width: 100%;
  margin: 0 18px;
}

.isExpandedDetails {
  width: 100%;
  margin-left: 18px;
  h1 {
    @include font-base;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.enableModalContainerWrapper {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enableModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include font-l;

  p {
    max-width: 70%;
    text-align: center;
    margin: 4px 0 20px 0;
    color: var(--color-text-contrast);
  }
}

.enableModalContainer button {
  margin-top: 14px;
  padding: 0 60px;
}

.headerModal {
  @include font-xl;
}

.descriptionInfo {
  height: 50%;
  margin-top:14Px;

  p {
    width: 98%;
  }

  button {
    border: 1px solid var(--color-airy-blue);
    border-radius:20Px;
    background:transparent;
    color:  var(--color-airy-blue);
    padding: 5px;
    margin-right: 5px;
  }
}


.checkmarkIcon {
  width: 15%;
  margin-bottom: 30px;
  fill: var(--color-soft-green);
}

