# Make compilation fast, by keeping a few copies of the compilers
# running as daemons, and cache SourceFile AST's to reduce parse time.
build --strategy=TypeScriptCompile=worker

# Use java 11
build --java_language_version=11
# Remove once annotation processing fix is released (https://github.com/bazelbuild/bazel/issues/12837)
build --nojava_header_compilation

# Stamp version and commit
build --stamp --workspace_status_command=tools/build/bazel_status.sh


# Output test errors by default
test --test_output=errors
# Do not build production artifacts like docker images to speed up tests
# Production outputs should be validated by running build
test --build_tests_only


# CI configuration
# ----------------
common:ci --color=no
# Disable highly verbose Kafka test output
# This has to be common so that the action cache does not get invalidated
build:ci --test_env=ROOT_LOG_LEVEL=ERROR

build:ci --noshow_progress
build:ci --verbose_failures

test:ci --flaky_test_attempts=2
