# Make compilation fast, by keeping a few copies of the compilers
# running as daemons, and cache SourceFile AST's to reduce parse time.
build --strategy=TypeScriptCompile=worker

# Use java 11
build --java_toolchain=@bazel_tools//tools/jdk:toolchain_java11 --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java11

# Output test errors by default
test --test_output=errors


# CI configuration
# ----------------
common:ci --color=no

build:ci --noshow_progress
build:ci --verbose_failures
build:ci --disk_cache=~/.cache/bazel
build:ci --repository_cache==~/.cache/bazel_external

# Do not build production artifacts to speed up tests
test:ci --build_tests_only
# Disable highly verbose Kafka test output
test:ci --action_env=ROOT_LOG_LEVEL=ERROR
test:ci --flaky_test_attempts=2
