{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["react", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },

  "rules": {
    "react/prop-types": 0,
    "@typescript-eslint/no-unused-vars": ["error", {"varsIgnorePattern": "_"}],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/ban-types": ["error", {"extendDefaults": true, "types": {"{}": false, "Object": false}}]
  },
  "settings": {
    "react": {
      "version": "16.12"
    }
  },
  "overrides": [
    {
      "files": ["frontend/chat-plugin/**/*.tsx"],
      "settings": {
        "react": {
          "pragma": "h"
        },
        "import/resolver": {
          "node": {
            "extensions": [".ts", ".tsx"]
          }
        }
      }
    }
  ]
}
