# Editors and IDE's

.idea/
.code/
.vscode/
.ijwb/

# config dir for creating a local dev instance
airy_dev

dist/
bazel-*

# Emacs backup files
.\#*

# Node packages
node_modules/
yarn-error.log
package-lock.json

# Terraform
.terraform
*.tfstate
*.tfstate.backup
*.tfvars
*.tfstate.*.backup
.terraform.tfstate.lock.info
.terraform.lock.hcl

# Kubernetes
.kubeconfig

# Misc
.DS_Store

# Testing
cypress

# Airy config files
airy.yaml
cli.yaml
