# Editors and IDE's

!.ijwb/.bazelproject
!.ijwb/.idea/fileTemplates/

.idea/
.code/
.vscode/
.ijwb/


dist/
bazel-*

# Emacs backup files
.\#*

# Node packages
node_modules/
yarn-error.log
package-lock.json

# Misc
.DS_Store
