{{- if .Values.enabled }}
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: airy-core-tools
  namespace: {{ .Values.global.namespace }}
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - http:
        paths:
          - path: /tools/akhq
            pathType: Prefix
            backend:
              service:
                name: akhq
                port:
                  number: 8080
{{- end }}
