@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.cardRaised {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1.5em;
  border-radius: 8px 0px 8px 0px;
  color: var(--color-text-contrast);
}

.emptyStateTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  width: 360px;

  h1 {
    color: var(--color-airy-blue);
    @include font-m;
  }

  p {
    color: var(--color-text-gray);
    @include font-base;
    padding-top: 8px;
    padding-bottom: 32px;
  }

  img {
    margin-bottom: 40px;
  }
}

.tagForm {
  width: 370px;
  margin: auto;
}

.emptyImage {
  height: 74px;
  width: 251px;
  margin-bottom: 16px;
}
