@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.tagsWrapper {
  display: block;
  border-radius: 10px;
  width: 100%;
  margin: 88px 1.5em 0 16px;
  min-height: calc(100vh - 170px);
}

.organizationSectionHeadline {
  @include font-xl;
  font-weight: 900;
  letter-spacing: 0;
  margin: 6px 0px 24px 8px;
}

.organizationContainer {
  position: relative;
  height: auto;
  transition: height 0.3s;
}

.organizationContainerSettingsItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.cardRaised {
  width: 100%;
  height: 100%;
  background: var(--color-background-white);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1.5em;
  border-radius: 8px 0px 8px 0px;
  color: var(--color-text-contrast);

  h2 {
    @include font-m;
  }

  &.accountStatus {
    padding-bottom: 5px;
    & > div {
      padding-bottom: 5px;
    }
    a {
      color: var(--color-airy-blue);
    }
  }

  &.airySupport {
    padding-bottom: 0.5em;
    a {
      color: #212529;
      @include font-base;
    }

    .faqLink {
      padding-top: 12px;
      margin-top: 10px;
      border-top: 1px solid var(--color-airy-blue);
    }
  }
}

.tagsHeader {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-bottom: 10px;
}

.searchContainer {
  display: inline-block;
  flex-grow: 1;
  margin-bottom: 27px;
}

.searchIcon {
  position: absolute;
  top: 9px;
  left: 9px;
}

.addButton {
  @include font-base;
  display: flex;
  height: 38px;
  align-items: center;
  color: var(--color-airy-blue);
  cursor: pointer;
  background: var(--color-background-white);
  border: none;
  &:hover {
    color: var(--color-airy-blue-hover);
    .plusButton {
      path {
        fill: var(--color-airy-blue-hover);
      }
    }
  }

  .plusButton {
    height: 13px;
    width: 13px;
    margin-left: 4px;
  }
}

.confirmDelete {
  @include font-base;
  p {
    margin-bottom: 8px;
    max-width: 480px;
    color: var(--color-text-contrast);
    strong {
      font-weight: 700;
      word-wrap: break-word;
    }
  }
}

.confirmDeleteActions {
  text-align: center;

  button {
    margin-right: 16px;
    margin-top: 16px;
  }
}

.tagsTable {
  width: 100%;
}

.tagsTableHeader {
  @include font-m;
  font-weight: 700;
  text-align: left;
  padding-bottom: 0px;
  padding-left: 2px;
}

.noResultHeadline {
  @include font-m;
  font-weight: bold;
  color: var(--color-text-contrast);
  margin-bottom: 4px;
}
