@import 'assets/scss/colors.scss';

.tableRow {
  cursor: pointer;
  &:hover {
    background-color: var(--color-background-blue);
  }
  border-bottom: 1px solid var(--color-background-gray);
}

.tableCell {
  padding: 17px 0;
  padding-right: 4px;
}

.tagColor {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 44px;
  margin-top: 6px;
  margin-left: 12px;
}

.editInput {
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-background-white);
  color: var(--color-text-contrast);
  border-radius: 4px;
  padding: 6px;
  font-size: 16px;
  &::placeholder {
    color: var(--color-text-gray);
  }

  &:focus {
    outline: none;
    background-color: var(--color-background-blue);
    border: 1px solid var(--color-airy-blue);
  }
}

.cancelButton {
  margin-top: 4px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  align-items: center;

  > div,
  > button {
    margin-left: 8px;
  }
}

.actionSVG {
  width: 16px;
  height: 18px;
  path {
    fill: var(--color-dark-elements-gray);
  }
  &:hover {
    path {
      fill: var(--color-airy-blue);
    }
  }
}

.actionSVGEdit {
  width: 20px;
  height: 24px;
  path {
    fill: var(--color-dark-elements-gray);
  }
  &:hover {
    path {
      fill: var(--color-airy-blue);
    }
  }
}

.actionButton {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}
