.image {
  display: flex;
  align-self: center;

  svg {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  circle {
    fill: var(----color-channel-icon-circle);
  }
}
