apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-chat-plugin
  namespace: {{ .Values.global.namespace }}
  labels:
    app: frontend-chat-plugin
    type: frontend
spec:
  replicas: 0
  selector:
    matchLabels:
      app: frontend-chat-plugin
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: frontend-chat-plugin
    spec:
      containers:
      - name: app
        image: "{{ .Values.global.containerRegistry}}/{{ .Values.image }}:{{ .Values.global.appImageTag }}"
        imagePullPolicy: Always
        env:
          - name: API_HOST
            valueFrom:
              configMapKeyRef:
                name: sources-chatplugin
                key: HOST
        livenessProbe:
          httpGet:
            path: /health
            port: 80
            httpHeaders:
            - name: Health-Check
              value: health-check
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 3
