@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';
@import 'assets/scss/z-index.scss';

.channelCard {
  display: flex;
  align-items: flex-end;
  height: 120px;
  width: 328px;
  border: 1px solid var(--color-dark-elements-gray);
  border-radius: 10px;
  background-color: var(--color-background-blue);
  margin-bottom: 28px;
  margin-right: 36px;
  &:hover {
    cursor: pointer;
  }
}

.channelLogo {
  height: 40px;
  width: 40px;
  svg {
    width: 40px;
    height: 40px;
  }
}

.channelLogoInstagram {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  svg {
    width: 35px;
    height: 35px;
  }
}

.channelTitle {
  @include font-m;
  color: var(--color-text-contrast);
  font-weight: 600;
  letter-spacing: 0;
  width: 100%;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channelLogoTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 0 18px 18px;
  height: 120px;
  width: 328px;
  border-radius: 10px;
  border: 1px solid transparent;
  &:hover {
    margin: -1px;
    border: 2px solid var(--color-airy-blue);
  }
}
