{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "import",
    "@typescript-eslint",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "bracketSpacing": false,
        "singleQuote": true,
        "jsxBracketSameLine": true,
        "semi": true,
        "trailingComma": "es5",
        "printWidth": 120
      }
    ],
    "react/prefer-stateless-function": "warn",
    "import/no-unresolved": [
      2
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/camelcase": "warn"

  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "globals": {
    "process": "readonly",
    "module": "readonly"
  },
  "parser": "@typescript-eslint/parser"
}