@import '../../../../assets//scss/colors.scss';

.messageListItemContainer {
    display: flex;
    flex: none;
}

.messageListItem {
    display: flex;
    align-self: flex-end;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
}

.messageListItemUser {
    display: inline-flex;
    align-self: flex-start;
    padding: 10px;
    margin-top: 5px;
    margin-left: 42px;
    background: var(--color-background-blue);
    color: #212428;
    position: relative;
    text-align: left;
    border-radius: 8px;
}

.messageListItemMember {
    margin-top: 5px;
    display: inline-flex;
    align-self: flex-end;
    padding: 10px;
    position: relative;
    background: var(--color-airy-blue);
    color: white;
    position: relative;
    text-align: left;
    border-radius: 8px;
}