apiVersion: apps/v1
kind: Deployment
metadata:
  name: sources-facebook-sender
  namespace: default
  labels:
    app: sources-facebook-sender
spec:
  replicas: 0
  selector:
    matchLabels:
      app: sources-facebook-sender
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: sources-facebook-sender
    spec:
      containers:
      - name: app
        image: "{{ .Values.image }}:{{ .Values.global.appImageTag }}"
        imagePullPolicy: Always
        env:
        - name: KAFKA_BROKERS
          value: kafka-headless:9092
        - name: KAFKA_SCHEMA_REGISTRY_URL
          value: http://schema-registry:8081
        - name: SERVICE_NAME
          value: facebook-sender

        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
            httpHeaders:
              - name: Health-Check
                value: health-check
          initialDelaySeconds: 60
          periodSeconds: 10
          failureThreshold: 3
          value: http://airy-schema-registry:8081
        