@import 'assets/scss/z-index.scss';

.dialog {
  position: absolute;
  background-color: var(--color-background-white);
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  z-index: $popup;
}

.nonOverlayDialog {
  @extend .dialog;
  position: relative;
  width: 233px;
}

.clickCover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $popup - 1;
}
