@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.buttons {
  button {
    border: none;
    background: none;
    outline: none;
    color: var(--color-text-gray);
    &:hover {
      cursor: pointer;
      color: var(--color-airy-blue);
    }
  }

  button:first-of-type {
    margin-right: 20px;
  }
}

.pages {
  @include font-base;
  font-weight: 700;
}
