@import 'assets/scss/colors.scss';

.image {
  display: flex;
  align-self: center;

  svg {
    height: 100%;
    width: 100%;

    fill: var(--color-text-contrast);
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}
