@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.container {
  @include font-base;
  display: flex;
  align-items: flex-start;
  background: white;
  height: 'auto';
  border-bottom: 1px solid var(--color-light-gray);
  margin-top: 30px;

  span {
    width: 40%;
    color: var(--color-text-contrast);
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 8px;
  }

  p {
    width: 25%;
    color: var(--color-text-gray);
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 8px;
    white-space: nowrap;
  }

  div:not(:last-child) {
    margin-bottom: 3px;
  }

  input:first-child {
    width: 40%;
  }

  input:not(:first-child, :last-child) {
    width: 25%;
  }
  input {
    width: 25%;
  }
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  p {
    @include font-base;
    margin-bottom: 22px;
  }
  input {
    @include font-base;
    margin-bottom: 22px;
  }
}

.statusContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  svg path {
    fill: var(--color-text-gray);
  }
}

.pensilIcon {
  cursor: pointer;
}

.inputs {
  width: 100%;
  height: 24px;
  border: none;
  font-size: 16px;
  padding: 0px;
}

.displayNameButtons {
  display: flex;

  button {
    border: none;
    outline: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
    background-color: transparent;
  }

  .cancelEdit {
    border: 1px solid var(--color-text-gray);
    margin-left: 8px;
    svg {
      path {
        fill: var(--color-text-gray);
      }
    }
    &:hover {
      border: 1px solid var(--color-red-alert);
      svg {
        path {
          fill: var(--color-red-alert);
        }
      }
    }
  }

  .saveEdit {
    border: 1px solid var(--color-soft-green);
    margin-left: 8px;
    svg {
      height: 8px;
      margin-bottom: 0.5px;
    }
  }

  .disabledSaveEdit {
    border: 1px solid var(--color-text-gray);
    margin-left: 8px;
    svg {
      height: 8px;
      margin-bottom: 0.5px;
      path {
        fill: var(--color-text-gray);
      }
    }
  }
}

.subscribePopup {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 1118px;
  height: 680px;
}
