@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 520px;
  min-height: 300px;
  background: var(--color-background-white);
  border: 1px solid var(--color-disabled-gray);
  border-radius: 10px;
  z-index: 1;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 21px 0px;
  color: var(--color-text-contrast);
  text-transform: capitalize;

  h1 {
    @include font-base;
    font-weight: bold;
  }
}

.closeIcon {
  svg {
    color: var(--color-text-contrast);
    margin-left: 8px;
  }
  &:hover {
    cursor: pointer;
    color: var(--color-airy-blue);
    svg {
      color: var(--color-airy-blue);
    }
  }
}

.filterTypes {
  display: flex;
  button {
    @include font-base;
    border: 1px solid #1578d4;
    border-radius: 100px;
    background: transparent;
    color: var(--color-airy-blue);
    margin: 0 12px;
    &:hover {
      background: var(--color-background-blue);
      transition: background 0.5s ease;
    }
  }
  .activeButton {
    background: var(--color-airy-blue);
    color: var(--color-background-white);
    &:hover {
      background: var(--color-airy-blue);
      color: var(--color-background-white);
    }
  }
}

.filterTypesDarkMode {
  @extend .filterTypes;
  button {
    border: 1px solid white;
    color: white;
  }

  .activeButton {
    background: var(--color-airy-blue);
    border: 1px solid var(--color-airy-blue);
    color: white;
    &:hover {
      color: white;
    }
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--color-text-gray);
  margin-top: 109px;
}

.actionButtons {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
