@import 'assets/scss/fonts';
@import 'assets/scss/colors';

.facebookLogin {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  margin-bottom: 8px;
  background-color: var(--color-fb-cta);
  border-radius: 4px;
  border: none;
}

.facebookLogin span {
  margin-left: 4px;
  line-height: 1.28;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}
