apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-auth
  namespace: default
  labels:
    app: api-auth
spec:
  replicas: 0
  selector:
    matchLabels:
      app: api-auth
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: api-auth
    spec:
      containers:
      - name: app
        image: "{{ .Values.image }}:{{ .Values.global.appImageTag }}"
        imagePullPolicy: Always
        env:
        - name: SERVICE_NAME
          value: api-auth
        - name: DB_USERNAME
          value: postgresadmin
        - name: DB_PASSWORD
          value: <pg_password>
        - name: DB_ENDPOINT
          value: postgres:5432
        - name: JWT_SECRET
          value: <jwt_secret>
        - name: MAIL_URL
          value: <mail_url>
        - name: MAIL_PORT
          value: "<mail_port>"
        - name: MAIL_USERNAME
          value: <mail_username>
        - name: MAIL_PASSWORD
          value: <mail_password>
        - name: MAIL_FROM
          value: <mail_from>
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
            httpHeaders:
              - name: Health-Check
                value: health-check
          initialDelaySeconds: 60
          periodSeconds: 10
          failureThreshold: 3
