.formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  button {
    margin-top: 32px;
  }
}

.formWrapperModal {
  @extend .formWrapper;
  align-items: center;
}

.formRow {
  height: 82px;
  width: 75%;
  max-width: 20rem;
}
