@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.customiseContainer {
  margin-top: 28px;
  margin-right: 16px;
}

.colorPickerWrapper {
  position: absolute;
  // padding: 46px 24px 46px 0px;
}

.colorPicker {
  display: flex;
  align-items: center;
}

.colorPickerSample {
  background-color: var(--color-airy-blue);
  box-shadow: lightgray 0px 0px 3px 0px;
  height: 34px;
  width: 40px;
  border-radius: 20%;
  margin-right: 4px;
  margin-bottom: 8px;
}

.extraOptions {
  margin: 16px 0 24px 0;
}

.codeAreaContainer {
  margin-right: 16px;
}

.installHint {
  font-weight: bold;
  margin-bottom: 8px;
  code {
    color: var(--color-red-alert);
    background-color: var(--color-background-gray);
    padding: 2px;
  }
}

.codeArea {
  @media screen and (max-width: 1600px) {
    max-width: 32em;
  }
  @include font-base;
  width: 40em;
  height: 19.2em;
  background-color: var(--color-background-gray);
  color: var(--color-text-contrast);
  border-radius: 8px;
  border: 1px solid var(--color-dark-elements-gray);
  resize: none;
  padding: 8px;
  margin-bottom: 16px;
}

.pluginWrapper {
  position: relative;
  display: flex;
  flex-flow: column-reverse;
  background-color: var(--color-background-gray);
  border: 1px solid var(--color-dark-elements-gray);
  border-radius: 10px;
  padding: 0 24px 0 24px;
  margin: 32px 0 0 24px;
  min-width: 350px;
  min-height: 700px;
}

.pluginContainer {
  bottom: 0px;
  right: 0px;
  position: absolute;
}

.copyButtonHostName {
  display: flex;
}

.fontDropdownContainer {
  margin: 34px 0 0 24px;
}

.titleContainer {
  margin-bottom: 18px;
  h1 {
    @include font-l;
    margin-bottom: 16px;
  }

  span {
    @include font-base;
    font-weight: 700;
  }
}

.headerTextColors {
  display: flex;
  height: 32px;
  align-items: center;
}

.activeColorStep {
  position: relative;
  height: 32px;
  width: 32px;
  left: -5px; 
  top: -5px;
  border-radius: 32px;
  border: 1px solid var(--color-airy-blue);
  background-color: transparent;
}

.inactiveColorStep {
    height: 26px;
    width: 26px;
    border-radius: 26px;
    border: 2px solid black;
    margin-right: 18px;
    margin-left: 3px;
    &:hover {
      cursor: pointer;
    }
  
    div:last-child {
      margin-right: 32px;
    }
}
