@import '../../assets/scss/fonts';
@import '../../assets/scss/colors';

.channelsHeadline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #212428;
  @include font-base;
  font-size: 39px;
  font-weight: 900;
  letter-spacing: 0;
  margin-bottom: 14px;
}

.channelsHeadlineText {
  @include font-xl;
  font-weight: 900;
}

.channelsWrapper {
  width: 100%;
  //height:100%;
  background: white;
  display: block;
  border-radius: 10px;
  padding-left: 96px;
  padding-top: 88px;
  width: 100%;
  overflow-y: auto;
  padding: 32px;
  margin: 88px 2.5em 0 7.5em;
  min-height: calc(100vh - 170px);
}

.connectButton {
  @include font-m;
  font-weight: 700;
  line-height: 16px;
  font-size: 20px;
  height: 40px;
  background-color: var(--color-airy-blue);
  color: white;
  border-radius: 4px;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  margin: 0 0;
  &:hover {
    background-color: var(--color-airy-blue-hover);
  }

  &:active {
    background: var(--color-airy-blue-pressed);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-text-gray) !important;
    background-color: var(--color-light-gray) !important;
    border: none;
  }
}

.containerChannelSearchField {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 40px;
  width: 100%;
  animation-name: searchFieldAnimation;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes searchFieldAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.backIcon {
  cursor: pointer;
  height: 13px;
  width: 17px;

  path {
    fill: var(--color-airy-blue);
  }
}

.backButton {
  border: none;
  background-color: white;
  padding-left: 0px;
  padding-right: 14px;
}

.channelSearchFieldWidth {
  width: 100%;
}

.containerChannelSearchHeadline {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}

.searchBox {
  color: black;
  background: white;
}

.searchButton {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: 1px;
  padding: 0;
  outline: none;
  
}


.searchIcon {
  background-color: rgb(243, 243, 243);
  height: 30px;
  border: none;
  width: 30px;
  
}

.searchIcon:hover {
  background: var(--color-airy-blue);
}

.containerFilterAndSearchChannel{
  display:flex;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-around;
}

.containerFilter{
  margin-right: 18px;
}

.channelList {
  list-style: none;
 }
  
 .channelsChoice {
  list-style: none;
  color: var(--color-text-gray);
  padding-bottom: 20px;
 }
  
 .channelListEntry {
  display: flex;
  border-bottom: 1px solid var(--color-airy-blue);
  align-items: center;
  padding: 8px 0;
 }
  
 .channelName {
  padding: 0 16px;
 }
  
 .channelAction {
  flex-grow: 1;
  justify-content: right;
  display: flex;
 }
  
 


