@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.installationButton {
  border-radius: 20px;
  color: white;
  border: none;
  width: max-content;
}

.buttonEnabled,
.buttonEnabled:hover,
.buttonEnabled:active,
.buttonEnabled:visited {
  background: var(--color-soft-green);
}

.buttonNotConfigured,
.buttonNotConfigured:hover,
.buttonNotConfigured:active,
.buttonNotConfigured:visited {
  background: var(--color-not-configured-orange);
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.buttonNotHealthy,
.buttonNotHealthy:hover,
.buttonNotHealthy:active,
.buttonNotHealthy:visited {
  background: var(--color-red-alert);
  &:hover {
    cursor: pointer;
    background: var(--color-red-alert-pressed);
  }
}

.buttonDisabled,
.buttonDisabled:hover,
.buttonDisabled:active,
.buttonDisabled:visited {
  background: var(--color-disable-status-config);
}
