@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';
@import 'assets/scss/animations.scss';

.wrapper {
  background: var(--color-background-white);
  color: var(--color-text-contrast);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 88px 16px 0 191px;
  height: calc(100vh - 88px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.headline {
  @include font-xl;
  font-weight: 900;
  letter-spacing: 0;
  display: flex;
  justify-content: space-between;
  color: var(--color-text-contrast);
  margin-bottom: 36px;
  padding: 32px 0 0 32px;
}

.headlineText {
  @include font-xl;
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: column;
}

.containerHeadline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-left: 32px;

  h1 {
    @include font-base;
    font-weight: 800;
  }
  h1:first-child {
    width: 35%;
  }
  h1:not(:first-child, :last-child) {
    width: 55%;
  }
  h1:last-child {
    display: flex;
    justify-content: center;
    width: 10%;
  }
}

.contactContent {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.contactList {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.paginationContainer {
  margin: 0 32px 32px 32px;
}

.contactColumnAnimateIn {
  animation: contactsInformationIn 300ms ease;
}

.contactColumnAnimateOut {
  animation: contactsInformationOut 300ms ease;
}
