@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  margin-top: 24px;
}

.inputForm {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-top: 8px;
}

.suggestionsRow {
  position: relative;
  margin-left: 14px;
}

.suggestionButton {
  display: flex;
  align-items: center;

  .chevronDown {
    path {
      fill: var(--color-airy-blue);
    }
  }

  &:hover {
    .chevronDown {
      path {
        fill: white;
      }
    }
  }
}

.chevronDown {
  width: 14px;
  height: 14px;
  margin-left: 8px;
  transform: scaleY(-1);
}

.chevronUp {
  @extend .chevronDown;
  transform: scaleY(1);
}

.messageWrap {
  flex-grow: 1;
  border: 1px solid var(--color-light-gray);
  border-color: var(--color-airy-blue);
  border-radius: 8px;
  display: flex;
  align-items: normal;
  margin-left: 14px;
}

.inputWrap {
  display: flex;
  width: 100%;
}

.messageTextArea {
  background: transparent;
  position: relative;
  flex-grow: 1;
  font-size: 16px;
  resize: none;
  outline: none;
  color: var(--color-text-contrast);
  border: none;
  padding: 8px;
  line-height: 24px;
  height: 40px;
  @include font-base;
}

.sendDiv {
  position: relative;
  display: flex;
  margin: 0px 24px 0px 0px;
}

.sendButton {
  position: relative;
  width: 40px;
  margin-left: 8px;
  transition: 0.2s ease-in-out all;
  top: 1px;
  border: none;
  background: white;
  padding: 0;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.sendButtonText {
  height: 40px;
  border: none;
  width: 40px;
  @include font-s;
  background: #cad5db;
  font-weight: 400;
  color: #000;
  border-radius: 50%;
  padding: 10px 7px 10px 11px;
}

.sendButtonActive .sendButtonText {
  background: var(--color-airy-blue);
}

.sendButtonText svg {
  position: relative;
}

.messageActionsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 6px 5px 5px;
}

.messageActionsContainer svg {
  height: 20px;
  cursor: pointer;
}

.messageActionsContainer g,
.sendButton g {
  fill: inherit;
}

.messageActionsContainer .emoji {
  height: 24px;
  top: 2px;
  position: relative;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 4px;
  width: 30px;
  height: 30px;

  svg {
    width: 22px;
    pointer-events: none;
    path {
      fill: #a0abb2;
    }
  }

  .actionToolTip {
    @include font-s;
    position: absolute;
    background-color: var(--color-text-contrast);
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
    display: none;
    bottom: 33px;
    z-index: 2;
  }
}

.disabledIconButton {
  cursor: not-allowed;
}

.activeIconButton {
  cursor: pointer;
}

.iconButton:hover {
  background-color: var(--color-background-blue);
  border-radius: 50%;
  svg {
    path {
      fill: #4bb3fd;
    }
  }

  .actionToolTip {
    display: block;
  }
}

.iconButton:focus {
  outline: none;
}

.templateButton {
  background: transparent;
  border: none;
}

.emojiDrawer {
  position: absolute;
  right: 72px;
  bottom: 75px;
  z-index: 2;
}

.templateSelector {
  width: 164px;
  max-height: 184px;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 0 8px 8px 8px;
  border-radius: 16px;
}

.removeTemplateButton {
  position: absolute;
  top: 3px;
  right: 1px;
  border: none;
  outline: none;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  line-height: 0;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  z-index: 1;
}

.removeTemplateButton svg {
  width: 8px;
  height: 8px;
  margin-left: -1px;
  margin-top: -1px;
}

.removeTemplateButton:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.removeTemplateButton object {
  width: 12px;
  height: 12px;
}

.disconnectedChannelToolTip {
  width: 184px;
  height: auto;
  position: absolute;
  bottom: 50px;
  right: -8px;
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: var(--color-light-gray);
}

.disconnectedChannelToolTipText {
  @include font-s;
  color: var(--color-text-contrast);
}
