@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/fonts.scss';

.container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.flexWrap {
  display: flex;
  flex-grow: 1;
  margin-bottom: 14px;
}

.messageWrap {
  border: 1px solid var(--color-light-gray);
  border-color: var(--color-airy-blue);
  border-radius: 8px;
  display: flex;
  align-items: normal;
  margin-left: 20px;
}

.inputWrap {
  display: flex;
  width: 100%;
}

.messageTextArea {
  background: transparent;
  position: relative;
  flex-grow: 1;
  font-size: 16px;
  resize: none;
  outline: none;
  color: var(--color-text-contrast);
  border: none;
  padding: 8px;
  line-height: 24px;
  height: 40px;
  @include font-base;
}

.sendDiv {
  display: flex;
  margin: 0px 24px 14px 0px;
}

.sendButton {
  position: relative;
  width: 40px;
  height: 70px;
  margin-left: 8px;
  transition: 0.2s ease-in-out all;
  top: 1px;
  border: none;
  background: white;
  padding: 0;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.sendButtonText {
  height: 40px;
  border: none;
  width: 40px;
  @include font-s;
  background: #cad5db;
  font-weight: 400;
  color: #000;
  border-radius: 50%;
  padding: 10px 7px 10px 11px;
}

.sendButtonActive .sendButtonText {
  background: var(--color-airy-blue);
}

.sendButtonText svg {
  position: relative;
}

.messageActionsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 6px 5px 5px;
}

.messageActionsContainer svg {
  height: 20px;
  cursor: pointer;
}

.messageActionsContainer g,
.sendButton g {
  fill: inherit;
}

.messageActionsContainer .emoji {
  height: 24px;
  top: 2px;
  position: relative;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 4px;
  width: 30px;
  height: 30px;

  svg {
    width: 22px;
    pointer-events: none;
    path {
      fill: #a0abb2;
    }
  }

  .actionToolTip {
    @include font-s;
    position: absolute;
    background-color: var(--color-text-contrast);
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
    display: none;
    bottom: 33px;
    z-index: 2;
  }
}

.iconButton:hover {
  background-color: var(--color-background-blue);
  border-radius: 50%;
  svg {
    path {
      fill: #4bb3fd;
    }
  }

  .actionToolTip {
    display: block;
  }
}

.iconButton:focus {
  outline: none;
}

.iconButton:active svg,
.iconButton:focus svg,
.iconButton.active svg {
  fill: #0dab76;
}

.templateButton {
  background: transparent;
  border: none;
}
