@import 'assets/scss/fonts.scss';
@import 'assets/scss/z-index.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  margin-bottom: 10px;
  padding-right: 6px;

  .emoji {
    height: 24px;
    top: 2px;
    position: relative;
  }
}

.emojiDrawer {
  position: absolute;
  right: 72px;
  bottom: 75px;
  z-index: $base;
}

@mixin activeButton {
  background-color: var(--color-background-blue);
  border-radius: 50%;

  svg {
    path {
      fill: #4bb3fd;
    }
  }
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: none;

  svg {
    width: 22px;
    pointer-events: none;

    path {
      fill: var(--color-icons-gray);
    }
  }

  .actionToolTip {
    @include font-s;
    position: absolute;
    background-color: var(--color-text-contrast);
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
    display: none;
    bottom: 33px;
    z-index: 1;
  }

  &:hover {
    @include activeButton;

    .actionToolTip {
      display: block;
    }
  }

  &.active {
    @include activeButton;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.smileyIcon {
  height: 20px;
  width: 20px;
}

.templateActionContainer {
  margin-top: 8px;
}

.templateAltIcon {
  height: 28px;
  width: 20px;
  svg {
    background-color: red;
    margin-top: 5px;
  }
}

.fileInput {
  display: none !important;
}

.paperclipIcon {
  transform: scale(1.5);
}

.fileSizeErrorPopUp {
  z-index: 2;
}
