@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.formContent {
  display: flex;
  flex-direction: column;
  width: 20rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.formContentNumber {
  height: 82px;
  width: 70%;
}

.formContentName {
  height: 82px;
  width: 70%;
}

.formImageCard {
  display: flex;
  box-sizing: border-box;
  height: 100px;
  width: 300px;
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  background-color: var(--color-background-white);
  margin-top: 24px;
}

.emptyLogo {
  display: inline-flex;
  height: 40px;
  width: 40px;
  margin: 16px 8px 42px 16px;
  svg {
    width: 40px;
    height: 40px;
  }
}

.imageUploadText {
  display: inline-flex;
  height: 24px;
  width: 190px;
  color: #212428;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 20px 2px 0;
}

.imageUploadSpecs {
  display: inline-flex;
  height: 48px;
  width: 190px;
  color: var(--color-text-gray);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.imageUploadFooter {
  height: 62px;
  width: 474px;
  margin: 24px 0px 24px 0px;
  color: var(--color-text-gray);
}

.inputField {
  @include font-base;
  background-color: transparent;
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--color-dark-elements-gray);
  margin: 5px 0px 5px 0px;
}

.headline {
  @include font-xl;
  color: var(--color-text-contrast);
  font-weight: bold;
  margin-bottom: 8px;
}

.backButton {
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.backIcon {
  height: 13px;
  width: 17px;
  path {
    fill: var(--color-airy-blue);
  }
  margin-right: 8px;
}

.smartButtonContainer {
  display: flex;
  width: 100%;
  align-items: center;
}
