@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.catalogWrapper {
  background: var(--color-background-white);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 32px;
  margin: 88px 1.5em 0 191px;
  height: calc(100vh - 88px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  position: absolute;
}

.catalogListContainer {
  display: flex;
  flex-wrap: wrap;
}

.catalogHeadlineText {
  @include font-xl;
  font-weight: 900;
  margin-bottom: 15px;
  color: var(--color-text-contrast);
}

.notificationAnimation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -120px;
  height: 40px;
  width: 240px;
  z-index: 9999;
  border-radius: 10px;
}

.notificationText {
  @include font-base;
  color: white;
}

@keyframes translateYIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  50% {
    transform: translateY(16px);
    opacity: 1;
  }

  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.translateYAnimIn {
  animation: translateYIn 4s ease-in-out;
}
