@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';
@import 'assets/scss/animations.scss';

.catalogWrapper {
  background: var(--color-background-white);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 28px;
  height: calc(100%);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.headlineSearchBarContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 28px 18px;
}

.catalogListContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.catalogHeadlineText {
  @include font-xl;
  font-weight: 900;
  color: var(--color-text-contrast);
}

.catalogDescription {
  @include font-base;
  color: var(--color-text-contrast);
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  h1 {
    @include font-l;
    color: var(--color-text-contrast);
    font-weight: bold;
  }
  span {
    @include font-m;
    color: var(--color-text-gray);
  }
}

.notificationAnimation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -120px;
  height: 40px;
  width: 240px;
  z-index: 9999;
  border-radius: 10px;
}

.notificationText {
  @include font-base;
  color: white;
}

@keyframes translateYIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  50% {
    transform: translateY(16px);
    opacity: 1;
  }

  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.translateYAnimIn {
  animation: translateYIn 4s ease-in-out;
}
