@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.catalogWrapper {
  background: var(--color-background-white);
  color: var(--color-text-contrast);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: calc(100vh - 88px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.catalogHeadline {
  @include font-xl;
  font-weight: 900;
  letter-spacing: 0;
  display: flex;
  justify-content: space-between;
  color: var(--color-text-contrast);
  margin-top: 28px;
}

.catalogHeadlineText {
  @include font-xl;
  font-weight: 900;
}

.listWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.connectorContainer {
  width: 100%;
  padding-top: 14px;
  padding-left: 20px;

  h2 {
    @include font-l;
    font-weight: 700;
    margin-bottom: 14px;
  }
}

.connectorList {
  display: flex;
  flex-wrap: wrap;
}
