@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.catalogWrapper {
  background: white;
  border-radius: 10px;
  padding: 32px;
  margin: 88px 1.5em 0 191px;
  height: calc(100vh - 88px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.catalogHeadline {
  @include font-xl;
  font-weight: 900;
  letter-spacing: 0;
  display: flex;
  justify-content: space-between;
  color: var(--color-text-contrast);
  margin-bottom: 36px;
}

.catalogHeadlineText {
  @include font-xl;
  font-weight: 900;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.connectorContainer {
  width: 100%;
  border-top: 1px solid var(--color-light-gray);
  padding-top: 14px;

  h2 {
    @include font-l;
    font-weight: 700;
    margin-bottom: 14px;
  }
}

.connectorList {
  display: flex;
  flex-wrap: wrap;
}
