@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.headerTextColors {
  display: flex;
  height: 32px;
  align-items: center;
}

.activeColorStep {
  position: relative;
  height: 32px;
  width: 32px;
  left: -5px;
  top: -5px;
  border-radius: 32px;
  border: 1px solid var(--color-airy-blue);
  background-color: transparent;
}

.inactiveColorStep {
  height: 26px;
  width: 26px;
  border-radius: 26px;
  border: 2px solid black;
  margin-right: 18px;
  margin-left: 3px;
  &:hover {
    cursor: pointer;
  }

  div:last-child {
    margin-right: 32px;
  }
}
