@import 'assets/scss/colors.scss';
@import 'assets/scss/fonts.scss';
@import 'assets/scss/animations.scss';

.container {
  legend {
    margin-bottom: 12px;
  }
  div {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    margin-bottom: 6px;
  }
  input {
    @include font-s;
    border: none;
    background: transparent;
    &:focus {
      outline: none;
    }
  }
  span {
    @include font-s;
  }
}

.editModeOn {
  border-bottom: 1px solid var(--color-airy-blue);
}

.editModeOff {
  border-bottom: 1px solid transparent;
}
