@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.wrapper {
  background: white;
  border-left: 1px solid var(--color-light-gray);
  border-right: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
  width: 100%;
  padding: 12px 0 24px 0;
}

.wrapperExpanded {
  display: inline-block;
  height: auto;
}

.wrapperCollapsed {
  height: 50px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.expandedContainer {
  margin-top: 20px;
}

.name {
  display: flex;
  align-items: center;
  width: 40%;

  button {
    width: 30px;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.arrowDownIcon {
  width: 15px;
  display: flex;
  align-items: center;
}

.componentName {
  margin-left: 10px;
  @include font-base;
  color: var(--color-text-gray);
}

.serviceName {
  margin-left: 25%;
  @include font-s;
  color: var(--color-text-gray);
}

.healthyStatus {
  width: 20%;
  display: flex;
  justify-content: center;
}

.icons {
  width: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}

.enabled {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
