{{ $coreID := randAlphaNum 10 | lower }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: sources-chatplugin
  namespace: {{ .Values.global.namespace }}
data:
  JWT_SECRET: {{ randAlphaNum 128 | quote }}
  HOST: {{ .Values.sources.chatPlugin.host }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sources-facebook
  namespace: {{ .Values.global.namespace }}
data:
  FACEBOOK_APP_ID: {{ .Values.sources.facebook.appId | quote }}
  FACEBOOK_APP_SECRET: {{ .Values.sources.facebook.appSecret | quote }}
  FACEBOOK_WEBHOOK_SECRET: {{ .Values.sources.facebook.webhookSecret | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sources-google
  namespace: {{ .Values.global.namespace }}
data:
  GOOGLE_PARTNER_KEY: {{ .Values.sources.google.partnerKey }}
  GOOGLE_SA_FILE: {{ .Values.sources.google.saFile }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sources-twilio
  namespace: {{ .Values.global.namespace }}
data:
  TWILIO_AUTH_TOKEN: {{ .Values.sources.twilio.authToken }}
  TWILIO_ACCOUNT_SID: {{ .Values.sources.twilio.accountSid }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ngrok-client-config
  namespace: {{ .Values.global.namespace }}
data:
  config.yml: |
    server_addr: proxy.tunnel.airy.co:4443
    trust_host_root_certs: true
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: core-config
  namespace: {{ .Values.global.namespace }}
data:
  APP_IMAGE_TAG: {{ .Values.global.appImageTag }}
  CORE_ID: {{ $coreID }}
