@import 'assets/scss/colors.scss';

.iconName {
  display: flex;
  align-items: center;
  min-width: 0px;
  div {
    height: 20px;
    width: 20px;
  }
  svg {
    height: 20px;
    width: 20px;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.avatarName {
  display: flex;
  align-items: center;
  min-width: 0px;
  div {
    height: 20px;
    width: 20px;
  }
  svg {
    height: 22px;
    width: 22px;
    margin-right: 2px;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  circle {
    fill: var(--color-background-white);
  }
}

.iconText {
  display: flex;
  align-items: center;
}

.avatarText {
  display: flex;
  align-items: center;
}
