@import 'assets/scss/colors.scss';
@import 'assets/scss/fonts.scss';

.container {
  width: 100%;
  height: 100%;
  animation: fadeIn ease 1s;
  z-index: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.containerEdit {
  @extend .container;
  background-color: var(--color-code-edit);
}

.containerNoEdit {
  @extend .container;
  background-color: var(--color-code-no-edit);
}

.buttonsContainer {
  display: flex;
  height: 32px;
  background-color: var(--color-button-gray);
}

.leftButtonsContainer {
  display: flex;
  background-color: transparent;
  justify-content: flex-start;
  flex-flow: wrap-reverse;
  button {
    @include font-s;
    border: none;
    height: 32px;
    background-color: var(--color-code-no-edit);
    color: var(--color-text-contrast);
    font-weight: 600;
    cursor: pointer;
  }
}

.tabNotSelected {
  opacity: 50%;
}

.rightButtonsContainer {
  display: flex;
  background-color: transparent;
  justify-content: flex-end;
  flex: auto;
  padding-bottom: 8px;
}

.topicInfoAttribute {
  @include font-s;
  display: flex;
  border: none;
  height: 24px;
  padding: 8px 0px 0px 70px;
  align-items: center;
  div {
    margin-right: 8px;
  }
}

.topicInfoLink {
  @include font-s;
  display: flex;
  border: none;
  height: 32px;
  padding: 8px;
  margin-left: 62px;
  text-decoration: underline;
  color: var(--color-airy-blue);
  cursor: pointer;
}
