apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-chat-plugin
  annotations:
    "helm.sh/hook-weight": "4"
  labels:
    app: frontend-chat-plugin
    type: frontend
    core.airy.co/managed: "true"
    core.airy.co/mandatory: "{{ .Values.mandatory }}"
    core.airy.co/component: "{{ .Values.name }}"
spec:
  replicas: {{ if .Values.enabled }} 1 {{ else }} 0 {{ end }}
  selector:
    matchLabels:
      app: frontend-chat-plugin
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: frontend-chat-plugin
        WorkerType: "{{ default "NodeGroup" .Values.global.workerType }}"
    spec:
      containers:
      - name: app
        image: "{{ .Values.global.containerRegistry}}/{{ .Values.frontend.image }}:{{ default .Chart.Version .Values.global.appImageTag }}"
        imagePullPolicy: Always
        env:
        {{- if .Values.global.apiHost }}
          - name: API_HOST
            valueFrom:
              configMapKeyRef:
                name: core-config
                key: API_HOST
        {{- end }}
        envFrom:
          - configMapRef:
              name: "{{ .Values.name }}"
        livenessProbe:
          httpGet:
            path: /health
            port: 80
            httpHeaders:
            - name: Health-Check
              value: health-check
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 3
        resources:
{{ toYaml .Values.frontend.resources | indent 10 }}
      initContainers:
      - name: wait
        image: "{{ .Values.global.busyboxImage }}"
        imagePullPolicy: IfNotPresent
        command: ["/bin/sh", "/opt/provisioning/wait-for-service.sh"]
        env:
        - name: SERVICE_NAME
          value: "{{ .Values.name }}"
        - name: SERVICE_PORT
          value: "80"
        volumeMounts:
        - name: provisioning-scripts
          mountPath: /opt/provisioning
      volumes:
        - name: provisioning-scripts
          configMap:
            name: provisioning-scripts
