apiVersion: v1
clusters:
- cluster:
    server: {{.EndpointUrl}}
    certificate-authority-data: {{.CertificateData}}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: aws
  name: {{.ClusterName}}
current-context: {{.ClusterName}}
kind: Config
preferences: {}
users:
- name: aws
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: aws
      args:
        - "eks"
        - "get-token"
        - "--cluster-name"
        - "{{.ClusterName}}"
