@import './../../../assets/scss/fonts';
@import './../../../assets/scss/colors';

.connectedChannels {
  display: flex;
  flex-direction: row;
}

.connectedHint {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid var(--color-soft-green);
  padding: 0 8px;
  border-radius: 4px;
  margin-left: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--color-soft-green);
}
