@import 'assets/scss/colors.scss';
@import 'assets/scss/fonts.scss';
@import 'assets/scss/z-index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 8px;
  overflow-y: hidden;
  margin-top: 88px;
  width: 175px;
  height: 100%;
  background-color: var(--color-background-white);
  color: var(--color-text-contrast);
  position: fixed;
}

.linkSection {
  flex-grow: 1;
}

.align {
  display: flex;
  justify-content: center;
  margin-top: 11px;
  width: 164px;
  height: 42px;
  border-radius: 10px;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 400;
  width: 100%;
  color: var(--color-text-gray);
  margin-left: 8px;

  span {
    @include font-s;
    margin-left: 11px;
    padding: 0;
    text-align: center;
  }
  svg path {
    color: var(--color-text-gray);
  }

  &:hover {
    color: var(--color-airy-blue);
    svg path {
      fill: var(--color-airy-blue);
    }
  }
}

.linkExternal {
  @extend .link;
  svg {
    margin-left: 15px;
  }
}

.link.active {
  color: var(--color-airy-blue);
  padding-left: 10px;

  svg path {
    fill: var(--color-airy-blue);
  }
}

.align.active {
  background-color: var(--color-blue-white);
}

.version {
  position: absolute;
  left: 8px;
  bottom: 96px;
  font-size: 10px;
  line-height: 10px;
  font-family: 'Lato', sans-serif;
  color: var(--color-text-gray);
}
