@import 'assets/scss/colors.scss';
@import 'assets/scss/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  @include font-s;
  margin-top: 6px;
}

.infoPointContainer {
  margin-bottom: 13px;
  margin-bottom: 7px;
  padding-bottom: 5px;
  display: flex;
  border-bottom: 1px solid transparent;
  line-height: 1.3;
}

.iconWrapper {
  display: flex;
  align-items: flex-start;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.textContainer {
  display: flex;
  align-items: flex-end;
}

.infoName {
  word-break: break-all;
  color: var(--color-text-contrast);
}

.infoLink:link,
.infoLink:visited,
.infoLink:hover,
.infoLink:active {
  word-break: break-all;
  color: var(--color-airy-blue);
  text-decoration: underline;
}

.borderBlue {
  border-bottom: 1px solid var(--color-airy-blue);
}

.container legend {
  @include font-s-bold;
  margin-bottom: 15px;
  color: var(--color-text-contrast);
}

.container label {
  padding: 0;
  margin: 0;
}

.container input {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  @include font-s;
  background: var(--color-background-white);
  color: var(--color-text-contrast);
}

.details {
  display: flex;
}

.detailName {
  font-weight: bold;
  margin-right: 3px;
  color: var(--color-text-contrast);
}

.expandable {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-text-contrast);
}

.saveButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
}

.arrowIcon {
  margin-right: 6px;
  svg {
    fill: var(--color-text-contrast);
  }
}

.downIcon {
  width: 14px;
  height: 9px;
}

.infoIcon {
  width: 12px;
  margin-right: 6px;
  fill: var(--color-text-contrast);
  overflow: visible;
}

.contactConversationList {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  color: var(--color-text-contrast);

  .iconsContainer {
    display: flex;
    flex-wrap: wrap;
  }

  span {
    @include font-s-bold;
    display: inline-block;
  }

  button {
    width: 40px;
    border: none;
    background: transparent;
    margin-top: 5px;
    opacity: 1;
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 0.3;
    }
  }
}
