apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.components.frontend.control_center.name }}"
  annotations:
    "helm.sh/hook-weight": "4"
  labels:
    app: "{{ .Values.components.frontend.control_center.name }}"
    type: frontend
    core.airy.co/managed: "true"
    core.airy.co/mandatory: "{{ .Values.components.frontend.control_center.mandatory }}"
    core.airy.co/component: "{{ .Values.components.frontend.control_center.name }}"
  annotations:
    core.airy.co/config-items-mandatory: "API_HOST"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ .Values.components.frontend.control_center.name }}"
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: "{{ .Values.components.frontend.control_center.name }}"
        WorkerType: "{{ default "NodeGroup" .Values.global.workerType }}"
    spec:
      containers:
      - name: app
        image: "{{ .Values.global.containerRegistry}}/{{ .Values.components.frontend.control_center.image }}:{{ default .Chart.Version .Values.global.appImageTag }}"
        imagePullPolicy: Always
        env:
        {{- if .Values.global.apiHost }}
        - name: API_HOST
          valueFrom:
            configMapKeyRef:
              name: core-config
              key: API_HOST
        {{- end }}
        envFrom:
          - configMapRef:
              name: "{{ .Values.components.frontend.control_center.name }}"
        livenessProbe:
          httpGet:
            path: /health
            port: 80
            httpHeaders:
            - name: Health-Check
              value: health-check
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 3
        resources:
{{ toYaml .Values.components.frontend.control_center.resources | indent 10 }}
      volumes:
        - name: provisioning-scripts
          configMap:
            name: provisioning-scripts
