apiVersion: v1
kind: Service
metadata:
  name: sources-twilio-connector
  labels:
    core.airy.co/prometheus: spring
spec:
  ports:
    - name: web
      port: 80
      targetPort: 8080
      protocol: TCP
  type: NodePort
  selector:
    app: sources-twilio-connector
---
apiVersion: v1
kind: Service
metadata:
  name: sources-twilio-events-router
  labels:
    core.airy.co/prometheus: spring
spec:
  ports:
    - name: web
      port: 80
      targetPort: 8080
      protocol: TCP
  type: NodePort
  selector:
    app: sources-twilio-events-router
