@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.formRow {
  margin-bottom: 16px;

  label {
    @include font-s;
  }

  &:hover {
    .actionToolTip {
      display: block;
    }
  }
}
<<<<<<< HEAD:frontend/control-center/src/pages/Connectors/Providers/Zendesk/index.module.scss
=======

.settings {
  width: 29rem;
}

.configButton {
  padding: 20px 60px;
}
>>>>>>> 22e96c7a (fixes and lint):frontend/control-center/src/pages/Connectors/Providers/Dialogflow/ConnectNewDialogflow.module.scss
