@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/fonts.scss';

.container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.flexWrap {
  display: flex;
  flex-grow: 1;
  margin-bottom: 14px;
}

.messageWrap {
  border: 1px solid var(--color-light-gray);
  border-color: var(--color-airy-blue);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin: 16px 19px 30px 30px;
}

.inputWrap {
  display: flex;
}

.messageTextArea {
  background: transparent;
  position: relative;
  flex-grow: 1;
  font-size: 16px;
  resize: none;
  outline: none;
  color: var(--color-text-contrast);
  border: none;
  padding: 8px;
  line-height: 24px;
  height: 40px;
  font-family: 'Lato', sans-serif;
}

.sendDiv {
  display: flex;
  margin: 0px 24px 14px 0px;
}

.sendButton {
  position: relative;
  width: 40px;
  height: 70px;
  margin-left: 8px;
  transition: 0.2s ease-in-out all;
  top: 1px;
  border: none;
  background: white;
  padding: 0;
  outline: none;
}

.sendButtonText {
  height: 40px;
  border: none;
  width: 40px;
  @include font-s;
  cursor: pointer;
  background: #cad5db;
  font-weight: 400;
  color: #000;
  border-radius: 50%;
  padding: 10px 7px 10px 11px;
}

.sendButtonText:active {
  background: var(--color-airy-blue);
}

.sendButtonText:hover,
.inputActive {
  background: var(--color-airy-blue);
}

.sendButtonText svg {
  position: relative;
}
