.wrapper {
  background: white;
  border-left: 1px solid var(--color-light-gray);
  border-right: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
  //background-color:lightblue;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.wrapperExpanded {
  display: inline-block;
  height: max-content;
}

.wrapperCollapsed {
  height: 50px;
}

.container {
  display: flex;
  align-items: center;
  //background-color:yellow;
  width: 100%;
}

.serviceName {
  margin-left: 20%;
  font-size: 13px;
  color: #737373;
}

.container:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.healthyStatus {
  width: 20%;
  //background-color: orange;
  display: flex;
  justify-content: center;
}

.enabled {
  width: 40%;
  //background-color: turquoise;
}

.arrowDownIcon {
  width: 15px;
  display: flex;
  align-items: center;
}

.componentName {
  display: flex;
  align-items: center;
  //background-color:lightpink;
  width: 40%;
}

.componentName button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color:yellow;
  margin-left: 4%;
  margin-right: 4%;
  width: 30px;
}

.channelSourceName {
  margin-left: 10px;
}

.icons {
  width: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}

.expandedContainer {
  margin-top: 20px;
  //margin-bottom:20Px;
}

.enabled {
  display: flex;
  justify-content: center;
  //background-color:lightpink;
}
