.successBoxDark {
  padding: 1em;
  padding-bottom: 2px;
  border-radius: 14px;
  background-color: #487b24;
}

.successBoxLight {
  padding: 1em;
  padding-bottom: 2px;
  border-radius: 14px;
  background-color: #acdf87;
}
