.successBoxDark {
  padding: 0;
  margin-top: 16px;
  border-radius: 14px;  
  background-color: #487b24;
}

.successBoxDark p {
  padding: 8px;
}

.successBoxLight {
  padding: 0;  
  margin-top: 16px;
  border-radius: 14px;  
  background-color: #acdf87;
}

.successBoxLight p {
  padding: 8px;
}