.inputBar {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.textArea {
  border-radius: 8px;
  resize: none;
  overflow: auto;
  height: 32px;
  min-height: 32px;
  width: 100%;
  padding: 4px 4px 0 8px;
  margin-right: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  border: 1px solid #cad5db;
  outline: none;
  box-sizing: border-box;
  &:focus {
    border: 1px solid var(--color-airy-accent);
  }
}

.poweredByContainer {
  display: flex;
  width: 100%;
  justify-content: center;

  a {
    color: var(--color-text-gray);
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
  }
}

.textAreaMedium {
  @extend .textArea;
  height: 64px;
}

.textAreaBig {
  @extend .textArea;
  height: 96px;
}

.textArea::-webkit-input-placeholder {
  color: #999999;
}

.textArea:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}

.textArea::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}

.textArea:-ms-input-placeholder {
  color: #999999;
}

.textArea::placeholder {
  color: #999999;
}

.sendButton {
  outline: none;
  padding: 2px 0 0 2px;
  border: none;
  height: 32px;
  width: 32px;
  background: var(--color-airy-accent);
  border-radius: 100%;
  align-self: center;
  cursor: pointer;

  img {
    display: block;
    max-width: 28px;
    max-height: 28px;
    width: auto;
    height: auto;
    padding: 0px 1px 1px 0px;
  }
}
