@import 'assets/scss/colors.scss';
@import 'assets/scss/fonts.scss';
@import 'assets/scss/z-index.scss';

.quickFilterContainer {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.quickFilterButtons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.quickFilterButtonsBackground {
  border-radius: 8px;
  background-color: var(--color-background-gray);
}

.quickFilterButton {
  @include font-base;
  background: var(--color-background-gray);
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 2px;
  width: 80px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background 400ms, border 400ms;
}

.quickFilterButtonActive {
  @extend .quickFilterButton;
  background-color: var(--color-background-blue);
  border: 1px solid var(--color-airy-blue);
}

.shortcutButton {
  @include font-base;
  color: var(--color-airy-blue);
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0 2px 2px 2px;
  background: rgba(0, 0, 0, 0);
  border: none;
}

.shortcutButtonActive {
  font-weight: 900;
  color: var(--color-text-contrast);
  border-bottom: 4px solid var(--color-airy-blue);
}

.filterButtonContainer {
  margin-top: 9px;
}

.filterButton:focus {
  outline: none;
}

.filterButton {
  @include font-base;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: none;
  margin-right: -13px;
  margin-top: -12px;
  color: var(--color-airy-blue);
  padding: 0;

  .chevron {
    path {
      fill: var(--color-airy-blue);
    }
  }
}

.chevron {
  display: inline-block;
  line-height: 0;

  path {
    fill: var(--color-text-contrast);
  }

  width: 28px;
  height: 28px;
  transform: translateX(-5px) scaleX(-1);
}

.chevronOpen {
  transform: translateX(-4px) rotate(270deg);
}

.filterHintRow {
  display: flex;
  flex-direction: row;
  margin: 3px 0;
  flex-flow: wrap;
}

.filterHint {
  @include font-s;
  background-color: var(--color-airy-blue);
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0 0 4px 4px;
  inline-size: max-content;
  height: 25px;
  cursor: pointer;
}

.filterCount {
  line-height: 19px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-gray);
  margin: 8px 0 24px 0;
  z-index: $popup;
  position: relative;
}
