.component {
  margin: 1.5em;
  background-color: var(--color-background-white);
  color:var(--color-text-contrast);
}

.component {
  strong {
    font-weight: 900;
  }
}

.component {
  p {
    padding: 1em 0;
    font-size: 14px;
  }
}
