@import 'assets/scss/colors.scss';
@import 'assets/scss/fonts.scss';

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.audioButtons {
  width: 28px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1578d4;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  svg {
    fill: white;
  }
}

.cancelButton {
  margin-left: 18px;
  margin-right: 6px;
}

.stopPlayButtons {
  margin-right: 10px;
  margin-left: 6px;
}

.audioComponent {
  margin: 4px 0;
}

