@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';
@import 'assets/scss/z-index.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 582px;
  background: var(--color-background-white);
  border-radius: 8px;
  z-index: $popup;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  @include font-xl;
  align-self: center;
  padding-top: 40px;
}

.headline {
  @include font-base;
  color: var(--color-text-contrast);
  padding-top: 40px;
  padding-left: 40px;
}

.body {
  @include font-base;
  margin: 20px 40px 0px 40px;

  ul {
    margin-left: 20px;
  }

  li {
    padding-top: 10px;
  }

  p {
    padding-top: 15px;
    padding-bottom: 60px;
  }

  a {
    font-weight: normal;
  }
}

.closeButton {
  position: absolute;
  right: 17px;
  top: 17px;
  width: 14px;
  height: 14px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0px;
  svg {
    height: 10px;
    width: 10px;
  }
}
