apiVersion: apps/v1
kind: Deployment
metadata:
  name: airy-controller
  annotations:
    "helm.sh/hook-weight": "4"
  labels:
    app: airy-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airy-controller
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: airy-controller
        WorkerType: "{{ default "NodeGroup" .Values.global.workerType }}"
      annotations:
        releaseTime: {{ (now) | toString | trunc 28 | quote }}
    spec:
      serviceAccountName: airy-controller
      automountServiceAccountToken: true
      containers:
        - name: app
          image: "{{ .Values.global.containerRegistry}}/infrastructure/controller:{{ default .Chart.Version .Values.global.appImageTag }}"
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: security
          env:
            - name: LABEL_SELECTOR
              value: "core.airy.co/managed=true"
            - name: NAMESPACE
              value: {{ .Release.Namespace }}
          resources:
            requests:
              cpu: "50m"
              memory: "32Mi"
            limits:
              cpu: "50m"
              memory: "128Mi"
          volumeMounts:
          - name: repositories
            mountPath: /repositories.json
            subPath: repositories.json
      volumes:
        - name: repositories
          configMap:
            name: repositories
