.tag {
  display: inline-block;
  padding: 4px;
  max-width: 100%;
}

.tagInner {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  background: var(--color-airy-blue);
  color: var(--color-background-white);
  border-radius: 16px;
  line-height: 24px;
  max-width: 100%;
  white-space: nowrap;
  border: 1px solid transparent;

  &:hover {
    word-break: break-all;
    white-space: normal;
    line-height: 16px;
    padding: 4px 8px;
  }

  &.clickable {
    cursor: pointer;
  }
}

.removeTag {
  cursor: pointer;
  margin-bottom: auto;
}

.closeButton {
  margin-left: 4px;
  height: 10px;
  width: 10px;
  path {
    fill: white;
  }
}

.tagName {
  min-width: 0;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color:white;
}

.tagNameExpanded {
  @extend .tagName;
  white-space: unset;
  overflow-wrap: break-word;
  margin-right: 4px;
}

.#{tag-} {
  &green {
    background-color: var(--color-tag-green);
  }
  &blue {
    background-color: var(--color-airy-blue);
  }
  &red {
    background-color: var(--color-tag-red);
  }
  &purple {
    background-color: var(--color-tag-purple);
  }
}
