@import 'lib/typescript/assets/scss/colors.scss';
@import 'lib/typescript/assets/scss/fonts.scss';

.container {
  @include font-base;
  display: flex;
  width: 100vw;
  height: 100%;
  min-width: 1366px;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  overflow: visible;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--color-background-gray);
}
