@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.channelsLineContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  span {
    @include font-base;
  }
}

.channelsLineItems {
  display: flex;
}

.activeItem {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-weight: 700;
  background: transparent;
  height: 42px;
  width: 150px;
  color: var(--color-airy-blue);
  border-bottom: 5px solid var(--color-airy-blue);
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
}

.inactiveItem {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-weight: 700;
  background: transparent;
  height: 32px;
  width: 150px;
  border-bottom: 5px solid transparent;
  color: var(--color-text-gray);
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
}

.line {
  width: 100%;
  height: 1px;
  background: rgb(202, 213, 219);
  display: flex;
  position: relative;
  top: -3px;
  left: 0px;
}

.pageContentContainer {
  padding: 32px;
}
