
.title {
    text-align: center;
}

.main {    
    div, button, input {
        margin: 8px;
    }    
}

.sectionTitle {
    margin-left: 32px;
}

.section {
    display: flex;
    flex-flow: wrap;
    padding: 0 8px 8px 8px;
    div, button, input {
        margin: 0 8px 8px 8px;
    }   
}

.item {
    text-align: center;
}