@import 'assets/scss/fonts.scss';

.component {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  padding: 4px 8px;

  input {
    @include font-base;
    border: none;
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  &:focus-within {
    border-color: var(--color-airy-blue);
  }
}

.searchIcon {
  svg {
    width: 22px;
    height: 22px;
    padding-top: 2px;
    margin-right: 4px;
    position: relative;
    top: 2px;

    path {
      fill: var(--color-text-gray);
    }
  }
}

.resetButton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 0px 4px;
}

.closeIcon {
  svg {
    margin: 0;
    width: 10px;
    height: 10px;

    path {
      fill: var(--color-text-gray);
    }
  }
}
