{{ if gt (keys .Values.storage | len) 0 }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: media-resolver
  namespace: default
  labels:
    app: media-resolver
    type: api
spec:
  replicas: 0
  selector:
    matchLabels:
      app: media-resolver
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: media-resolver
    spec:
      containers:
        - name: app
          image: "{{ .Values.global.containerRegistry}}/{{ .Values.image }}:{{ .Values.global.appImageTag }}"
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: user-storage
          env:
            - name: KAFKA_BROKERS
              valueFrom:
                configMapKeyRef:
                  name: kafka-config
                  key: KAFKA_BROKERS
            - name: KAFKA_SCHEMA_REGISTRY_URL
              valueFrom:
                configMapKeyRef:
                  name: kafka-config
                  key: KAFKA_SCHEMA_REGISTRY_URL
            - name: KAFKA_COMMIT_INTERVAL_MS
              valueFrom:
                configMapKeyRef:
                  name: kafka-config
                  key: KAFKA_COMMIT_INTERVAL_MS
            - name: SERVICE_NAME
              value: media-resolver
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
              httpHeaders:
                - name: Health-Check
                  value: health-check
            initialDelaySeconds: 60
            periodSeconds: 10
            failureThreshold: 3
{{ end }}
