apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook-consumer
  annotations:
  "helm.sh/hook-weight": "4"
  labels:
    app: webhook-consumer
    type: webhook
    core.airy.co/managed: "true"
    core.airy.co/mandatory: "{{ .Values.mandatory }}"
    core.airy.co/component: "{{ .Values.name }}"
spec:
  replicas: {{ if .Values.enabled }} 1 {{ else }} 0 {{ end }}
  selector:
    matchLabels:
      app: webhook-consumer
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: webhook-consumer
        WorkerType: "{{ default "NodeGroup" .Values.global.workerType }}"
    spec:
      containers:
      - name: app
        image: "{{ .Values.global.containerRegistry}}/{{ .Values.consumer.image }}:{{ default .Chart.Version .Values.global.appImageTag }}"
        imagePullPolicy: Always
        envFrom:
          - configMapRef:
              name: kafka-config
        env:
        - name: BEANSTALK_HOSTNAME
          valueFrom:
            configMapKeyRef:
              name: beanstalk-config
              key: BEANSTALK_HOSTNAME
        - name: BEANSTALK_PORT
          valueFrom:
            configMapKeyRef:
              name: beanstalk-config
              key: BEANSTALK_PORT
        - name: WEBHOOK_NAME
          valueFrom:
            configMapKeyRef:
              name: "{{ .Values.name }}"
              key: name
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
            httpHeaders:
              - name: Health-Check
                value: health-check
          initialDelaySeconds: 120
        resources:
{{ toYaml .Values.consumer.resources | indent 10 }}
      initContainers:
      - name: wait
        image: "{{ .Values.global.busyboxImage }}"
        imagePullPolicy: IfNotPresent
        command: ["/bin/sh", "/opt/provisioning/wait-for-service.sh"]
        env:
        - name: SERVICE_NAME
          valueFrom:
            configMapKeyRef:
              name: beanstalk-config
              key: BEANSTALK_HOSTNAME
        - name: SERVICE_PORT
          valueFrom:
            configMapKeyRef:
              name: beanstalk-config
              key: BEANSTALK_PORT
        volumeMounts:
        - name: provisioning-scripts
          mountPath: /opt/provisioning
      volumes:
        - name: provisioning-scripts
          configMap:
            name: provisioning-scripts
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook-publisher
  labels:
    app: webhook-publisher
    type: webhook
    core.airy.co/managed: "true"
    core.airy.co/mandatory: "{{ .Values.mandatory }}"
    core.airy.co/component: "{{ .Values.name }}"
spec:
  replicas: {{ if .Values.enabled }} 1 {{ else }} 0 {{ end }}
  selector:
    matchLabels:
      app: webhook-publisher
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: webhook-publisher
        WorkerType: "{{ default "NodeGroup" .Values.global.workerType }}"
    spec:
      containers:
      - name: app
        image: "{{ .Values.global.containerRegistry}}/{{ .Values.publisher.image }}:{{ default .Chart.Version .Values.global.appImageTag }}"
        imagePullPolicy: Always
        envFrom:
          - configMapRef:
              name: kafka-config
        env:
        - name: SERVICE_NAME
          value: webhook-publisher
        - name: BEANSTALK_HOSTNAME
          valueFrom:
            configMapKeyRef:
              name: beanstalk-config
              key: BEANSTALK_HOSTNAME
        - name: BEANSTALK_PORT
          valueFrom:
            configMapKeyRef:
              name: beanstalk-config
              key: BEANSTALK_PORT
        - name: WEBHOOK_NAME
          valueFrom:
            configMapKeyRef:
              name: "{{ .Values.name }}"
              key: name
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
            httpHeaders:
              - name: Health-Check
                value: health-check
          initialDelaySeconds: 120
        resources:
{{ toYaml .Values.publisher.resources | indent 10 }}
      initContainers:
      - name: wait
        image: "{{ .Values.global.busyboxImage }}"
        imagePullPolicy: IfNotPresent
        command: ["/bin/sh", "/opt/provisioning/wait-for-minimum-kafkas.sh"]
        envFrom:
          - configMapRef:
              name: kafka-config
        volumeMounts:
        - name: provisioning-scripts
          mountPath: /opt/provisioning
      volumes:
        - name: provisioning-scripts
          configMap:
            name: provisioning-scripts
