@import 'assets/scss/colors.scss';
@import 'assets/scss/fonts.scss';

.component {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-dark-elements-gray);
  border-radius: 8px;
  padding: 16px 0;
  position: absolute;
  bottom: 33px;
  left: 0px;
  right: 72px;
  margin-bottom: 5px;

  background-color: var(--color-template-highlight);
}

.suggestionList {
  max-height: calc(100vh - 230px);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

.suggestionPreviewWrapper {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
  cursor: pointer;
  width: max-content;
  height: auto;
  flex-shrink: 0;
  max-width: 400px;
  max-height: 400px;
}

.fadeOutWrapper {
  position: relative;
  &:after {
    content: '';
    // position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0) 320px, rgb(255, 255, 255) 394px),
      linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0) 200px, rgb(255, 255, 255) 360px);
  }
}
