@import 'assets/scss/colors.scss';
@import 'assets/scss/fonts.scss';

.wrapper {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  background-color: #fff;
  margin: 0 8px 0 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  overflow-x: hidden;
}

.emptyState {
  align-self: center;
  margin-top: 8%;
  margin-bottom: auto;
  max-width: 440px;
  h1 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: var(--color-airy-blue);
    margin-bottom: 8px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-text-gray);
    margin-bottom: 32px;
  }
  svg {
    margin-left: 50px;
  }
}

.messageDisplay {
  @media screen and (max-width: 1050px) {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  overflow: hidden;
}

.dragContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  pointer-events: none;
}

.noDraggedFile {
  display: none;
}

.dragOverlay {
  background-color: var(--color-template-highlight);
  opacity: 0.9;
  border: 2px dashed var(--color-airy-blue);
}

.dragContainer h1 {
  @include font-m;
}
