alertmanager:
  enabled: true
  apiVersion: v2
  ingress:
    enabled: true
    hosts: []
    paths: ['/alertmanager']
  routePrefix: /alertmanager
grafana:
  enabled: true
  adminPassword: prom-operator
  ingress:
    enabled: true
    hosts: []
    path: /grafana
prometheus:
  enabled: true
  ingress:
    enabled: true
    hosts: []
    paths: ['/prometheus']
  prometheusSpec:
    routePrefix: /prometheus
    additionalScrapeConfigs:
      - job_name: beanstalkd_exporter
        static_configs:
        - targets: ['beanstalk:8080']
  additionalServiceMonitors:
  - name: "spring-apps"
    selector:
      matchLabels:
        core.airy.co/prometheus: spring
    namespaceSelector:
      matchNames: ["default"]
    endpoints:
      - port: web 
        interval: 30s
        path: actuator/prometheus
