.defaultChannelIcon {
  border-radius: 50%;
  background: var(--color-airy-blue);
  color: white;
  font-size: 12px;
  text-align: center;
  width: 24px;
  height: 24px;
}

.channelLogo {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
