@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.wrapper {
  background: var(--color-background-white);
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.headline {
  @include font-xl;
  color: var(--color-text-contrast);
  font-weight: bold;
  margin-bottom: 8px;
}

.backButton {
  display: block;
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.backIcon {
  height: 13px;
  width: 17px;
  path {
    fill: var(--color-airy-blue);
  }
  margin-right: 8px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  width: 474px;

  label {
    height: 82px;
  }

  input {
    @include font-base;
  }
}

.inputContainerModal {
  @extend .inputContainer;
  align-items: center;
  width: 100%;

  label {
    width: 75%;
  }
}

.subtitle {
  display: flex;
  flex-direction: column;
  @include font-s;
  color: var(--color-airy-blue);
  img {
    width: 17px;
    height: 13px;
  }
}

.smartButtonContainer {
  display: flex;
  width: 100%;
  align-items: center;
}
