@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';

.background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--color-text-gray);
    opacity: 0.5;
  }
}

.dialog {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.dialogInner {
  background-color: white;
  border-radius: 8px;
  padding: 64px;
  position: relative;
}

.closeButton {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 8px;
  right: 10px;
  svg {
    width: 14px;
    height: 14px;
    path {
      fill: black;
    }
  }
}

.inviteWrapper {
  width: 500px;
}

.headline {
  @include font-xl;
  font-weight: bold;
}

.firstMessage {
  @include font-base;
  margin: 30px 20px 20px 0px;
}

.secondMessage {
  @include font-base;
  margin: 30px 20px 20px 0px;
}

.thirdMessage {
  @include font-base;
  margin: 24px 0px 58px 0px;
}
