@import "assets/scss/colors.scss";
@import "assets/scss/fonts.scss";

.DateRangeWrapper--light {
  .DateRangePickerInput__withBorder {
    border-color: var(--color-light-gray);
  }

  .DateRangePickerInput {
    border-radius: 8px;
  }
}

.DateRangeWrapper--default {
  .DateRangePickerInput__withBorder {
    border-color: var(--color-text-gray);
  }

  .DateRangePickerInput {
    border-radius: 4px;
  }
}

.DateRangePickerInput__withBorder {
  margin-top: 3px;
}

.DateInput_input__focused {
  border-bottom-color: var(--color-airy-blue);
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right-color: var(--color-airy-blue);
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: var(--color-airy-blue);
  border-color: var(--color-airy-blue);
}

.CalendarDay__selected_span {
  background: var(--color-airy-logo-blue);
  border-color: var(--color-airy-logo-blue);
}

.CalendarDay__hovered_span {
  background: var(--color-airy-logo-blue);
  border-color: var(--color-airy-logo-blue);
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__selected_span:hover {
  background: var(--color-airy-blue);
  border-color: var(--color-airy-blue);
  color: white;
}

.DateRangePickerInput {
  overflow: hidden;
}

.DateInput_input {
  @include font-base;
  width: 108px;
  padding: 7px 8px;
  font-weight: 400;
  color: var(--color-text-contrast);
}
