@import 'assets/scss/fonts.scss';
@import 'assets/scss/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 582px;
  height: 477px;
  background: white;
  border-radius: 8px;
  position: relative;
  background: white;
  z-index: 1;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  @include font-xl;
  align-self: center;
  padding-top: 40px;
}

.headline {
  @include font-xl;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 40px;
}

.button {
  background-color: var(--color-airy-blue);
  width: 205px;
  height: 40px;
  color: white;
  border-radius: 4px;
  align-items: center;
  margin-top: 32px;
  margin-left: 40px;
  margin-bottom: 40px;

  button {
    @include font-base;
    width: 205px;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    cursor: pointer;
  }
}

.closeButton {
  position: absolute;
  right: 17px;
  top: 17px;
  width: 14px;
  height: 14px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.inviteWrapper {
  width: 500px;
  margin: 20px 40px 0px 40px;
}

.firstMessage {
  @include font-base;
  margin: 30px 20px 20px 0px;
}

.configMessage {
  @include font-base;
  color: rgba(235, 32, 97, 0.866);
  text-decoration: none;
  background-color: var(--color-light-gray);
}

.secondMessage {
  @include font-base;
  margin: 30px 20px 20px 0px;
}

.thirdMessage {
  @include font-base;
  margin: 24px 0px 58px 0px;
}
