@import 'assets/scss/colors.scss';
@import 'assets/scss/fonts.scss';

.container {
  margin-bottom: 8px;
}

.inputForm {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  margin-top: 8px;
}

.centerSendButton {
  align-items: center;
}

.suggestionsRow {
  position: relative;
  margin-left: 14px;
}

.suggestionButton {
  display: flex;
  align-items: center;

  .chevronDown {
    path {
      fill: var(--color-airy-blue);
    }
  }

  &:hover {
    .chevronDown {
      path {
        fill: var(--color-background-white);
      }
    }
  }
}

.chevronDown {
  width: 14px;
  height: 14px;
  margin-left: 8px;
  transform: scaleY(-1);
}

.chevronUp {
  @extend .chevronDown;
  transform: scaleY(1);
}

.messageWrap {
  flex-grow: 1;
  border: 1px solid var(--color-light-gray);
  border-color: var(--color-airy-blue);
  border-radius: 8px;
  display: flex;
  align-items: normal;
  margin-left: 16px;
}

.inputWrap {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 120px;
}

.contentInput {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.imagesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 80px;
  max-width: 300px;
}

.messageTextArea {
  width: 100%;
  background: transparent;
  position: relative;
  flex-grow: 1;
  font-size: 16px;
  resize: none;
  outline: none;
  color: var(--color-text-contrast);
  border: none;
  padding: 8px;
  line-height: 24px;
  height: 40px;
  min-height: 40px;
  @include font-base;
}

.sendDiv {
  position: relative;
  display: flex;
  margin-right: 16px;
  margin-bottom: 3px;
}

.sendButton {
  position: relative;
  width: 40px;
  margin-left: 8px;
  top: 1px;
  border: none;
  background: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.sendButtonText {
  height: 40px;
  border: none;
  width: 40px;
  @include font-s;
  background: var(--color-button-gray);
  font-weight: 400;
  color: #000;
  border-radius: 50%;
  padding: 10px 7px 10px 11px;
  transition: background 400ms;
}

.sendButtonActive .sendButtonText {
  background: var(--color-airy-blue);
}

.sendButtonText svg {
  position: relative;
}

.disconnectedChannelToolTip {
  width: 184px;
  height: auto;
  position: absolute;
  bottom: 50px;
  right: -8px;
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: var(--color-tooltip-gray);

  p {
    @include font-s;
    color: var(--color-tooltip-text-gray);
  }
}

.linebreakHint {
  @include font-s;
  display: flex;
  justify-content: flex-end;
  color: var(--color-text-gray);
  margin-top: 4px;
  margin-right: 66px;
}

.selectorLoader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 80px;
  margin-left: 8px;
}

.selectorLoader span {
  @include font-base;
  color: var(--color-text-gray);
}
