@import 'assets/scss/colors.scss';

.container {
  max-width: 550px;
  position: relative;
  margin: 0px 0px 5px 10px;
  animation: fadeIn 3s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.removeButton {
  position: absolute;
  right: 4px;
  top: 8px;
  margin: 0;
  line-height: 0;
  border-radius: 50%;
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-template-highlight);
  cursor: pointer;
  outline: none;
  z-index: 1;

  svg {
    fill: var(--color-text-contrast);
  }

  &:hover {
    border-color: var(--color-airy-blue);

    svg {
      fill: var(--color-airy-blue);
    }
  }
}
