.containerLight {
  display: flex;
  align-items: center;
  padding: 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: white;
  border: 3px solid #4bb3fd;
  box-shadow: none;
}

.containerLightTitle {
  color: black;
  margin: 0px;
}

.containerLightDescription {
  color: #303030;
  font-size: 14px;
  margin: 0px;
}

.containerLight:hover {
  box-shadow: 0 0 8px 0px #4bb3fd;
  text-decoration: none;
}

.containerDark {
  display: flex;
  align-items: center;
  padding: 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #20201d;
  border: 3px solid #4bb3fd;
  box-shadow: none;
}

.containerDarkTitle {
  color: white;
  margin: 0px;
}

.containerDarkDescription {
  color: white;
  font-size: 14px;
  margin: 0px;
}

.containerDark:hover {
  box-shadow: 0 0 8px 0px #4bb3fd;
  text-decoration: none;
}

.containerLight svg {
  height: 32px;
  width: 32px;
  min-width: 32px;
  margin-right: 12px;
  fill: black;
}

.containerDark svg {
  height: 32px;
  width: 32px;
  min-width: 32px;
  margin-right: 12px;
  fill: white;
}

.invertedIcon {
  filter: invert(100%);
}
